
.logo {
    width: 130px;
    height: auto;
}

.contact-btn {
    background-color: #FAE0E1;
    font-weight: 500;
}

.contact-btn:hover {
    background-color: #edcfd0;
}

.img-bg {
    background-color: #FAE0E1;
}

.person-img-bg {
    background-color: #F6F6F9;
}

.our-supervision-section {
    margin-top: 120px;
}

.tik-mark-icon-container {
    background-color: #FAE0E1;
    width: fit-content;
}

.tik-mark-icon {
    width: 28px;
}